<!-- <svg>
  <ng-container *ngFor="let fila of butacas.libres[0].f">
    <ng-container *ngFor="let columna of fila">
      <rect
        [attr.x]="columna"
        [attr.y]="fila"
        width="20"
        height="20"
        fill="green"
      ></rect>
    </ng-container>
  </ng-container>

  <ng-container *ngFor="let fila of butacas['ocupadas']">
    <ng-container *ngFor="let columna of fila">
      <rect
        [attr.x]="columna"
        [attr.y]="fila"
        width="20"
        height="20"
        fill="red"
      ></rect>
    </ng-container>
  </ng-container>
</svg> -->
