<!--<div class="w3-bar w3-white w3-large">
    <a routerLink="/venta-entradas" class="w3-bar-item w3-button w3-mobile"><span>Peliculas</span></a>
    <a routerLink="/directores" class="w3-bar-item w3-button w3-mobile"><span>Directores</span></a>
</div>-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <div class="ms-5">
        <h1 class="w3-margin-right">Nuestro Cine</h1>
    </div>

    <div class="collapse navbar-collapse justify-content-end me-5">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/venta-entradas"><span>Peliculas</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/directores"><span>Directores</span></a>
            </li>     
        </ul>
    </div>
    
</nav>